extend ../layout
block content
  p
    | Welcome to the official website for Cherry Hill East's Programming Club. Tutorials, Projects, and other information about our club will be posted
    | here. And if you are a current student of Cherry Hill East, and you're interested in programming, making video games, or just having a good 
    | time, then join the Programming club. We meet every Wednesday in the Computer Graphics room in F083.
block sidebar
  .widget
    h1 The Facebook group
    p
      | Join our Facebook group to be updated with first hand information
      | about the club's recent activities...
      a(href="https://www.facebook.com/groups/vgdevclub/") here