
extend ../layout
block content 
  p 
    | The 2012-2013 Programming Club project consists of a Website made with
    | PHP, MySQL, and Javascript. The Website will be cbuilt for posting and playing flash/HTML5 games.
block sidebar
  .widget
    h1 Practice site
    p
      | Here are links to the Project&nbsp
      a(href="http://club-code.herokuapp.com") practice site 
      | (Only Optimized for Chrome)